*{
    border: 0;
    padding: 0;
    margin: 0;
    font-family: "Fredoka", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
    "wdth" 100;
    
}
/*                  index page                      */
main{
    width: 100%;
}
.form-container {
    width: 100%;
    height: 100vh; 
    background-image: url('images/college-5757815_1920.jpg');
    background-size: cover;
    background-position: center;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}


.form-container h1{
    text-align: center;
    padding-top: 50px;
    padding-bottom: 20px;
    font-size: 80px;
    margin: 0px 280px;
    font-weight: 500;
    color: wheat;
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
    
}

.form-container p{
    text-align: center;
    
    padding-bottom: 20px;
    font-size: 22px;
    margin: 0px 280px;
    font-weight: 500;
    color: whitesmoke;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

.name-field{
    margin-left: 570px;
    display: block;
    padding-top: 20px;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}
.name-field label{
    font-size: 25px;
    font-weight: 700;
    padding-right: 14px;
    color: wheat;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}
.name-field input {
    font-size: 20px;
    font-weight: 600;
    padding: 8px 12px;
    border-radius: 8px;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
    border: 1px solid lightgray;
    color: wheat;
    background-color: #f9f9f9;
}
#teacher-container h3{
    padding-bottom: 70px;
    padding-top: 15px;
}
.faculty-card img{
    width: 300px;
}

.name-field input:focus {
    box-shadow: 0 0 4px whitesmoke, 0 0 4px whitesmoke, 0 0 20px whitesmoke; 
    outline: none;
}
.name-field small{
    color: gainsboro;  
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}
.name-field a{
    color: wheat;    
    text-decoration: none;
    padding-left: 4px;
    color: greenyellow;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}
.pass-label{
    margin-right: 7px;
}
.login-btn{
    margin-left: 700px;
    font-size: 20px;
    padding: 8px 20px;
    border-radius: 8px;
    margin-top: 20px;
    font-weight: 500;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
    color: #800020;
}
span{
    color: #800020;
    font-weight: 900;
}




/*             register_as page               */

.reg-as-main{
    text-align: center;
    background-image: url(images/columns-5135499_1920.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
    color: aliceblue;
}
.reg-as-main h1{
    padding-top: 100px;
    color: bisque;
    font-size: 40px;
}
.chosing-part{
    display: flex;
    justify-content: space-around;
    text-align: center;
    padding-top: 40px;
}

.student-part {
    height: 400px;
    width: 400px;
    
    
}
.student-part img{
    height: 300px;
    width: 400px;
    border-radius: 12px;
}
.student-part img:hover{
    height: 400px;
    width: 500px;
    border-radius: 12px;
}
.student-part a,img{
    text-decoration: none;
    font-size: 40px;
    font-weight: 400;
    
}
.teacher-part {
    height: 400px;
    width: 400px;
   
}
.teacher-part img{
    height: 300px;
    width: 400px;
    border-radius: 12px;
}
.teacher-part img:hover{
    height: 400px;
    width: 500px;
    border-radius: 12px;
}
.teacher-part a,img{
    text-decoration: none;
    font-size: 40px;
    font-weight: 400;
    
}
.student-part a:visited,.teacher-part a:visited{
    color: white;
}

    


/*            teacher-registration page            */
.teacher-reg-main{
    font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
    display: flex;
    height: 100vh;
    
}

.image-part img{
    width: 100%;
    height: 100vh;
}

.teacher-form-container{
    margin-left: 40px;
    margin-top: 240px;
}
.teacher-form-container input{
    /* border: 1px solid gray; */
    border-radius: 4px;
    padding: 8px 12px;
    font-size: 20px;
    margin-right: 20px;
    box-shadow: 2px 2px 8px gray;
    
}
.teacher-form-container label{
    /* border: 1px solid gray; */
    /* border-radius: 4px; */
    /* pad: 8px 12px; */
    font-size: 20px;
    font-weight: 500;
}
.teacher-form-container select{
    /* border: 1px solid gray; */
    /* border-radius: 4px; */
    /* pad: 8px 12px; */
    font-size: 20px;
    font-weight: 500;
    padding-top: 10px ;
    padding-bottom: 10px ;
    padding-right: 20px ;
    padding-left: 20px ;
}
.email-label{
    margin-right: 40px;
}
.reg-btn{
    margin-bottom: 20px;
}


/*                      course selection page                  */
.course-page-main{
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}
.course-page-main h1{
    text-align: center;
    padding-top: 100px;
    padding-bottom: 20px;
    font-weight: 600;
}
.course-container{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    /* flex-direction: column; */
    /* text-align: center; */
}

.course-card{
    width: 300px;
    padding: 18px;
    margin: 10px;
    height: 180px;
    border-left: 8px solid slateblue;
    box-shadow: 2px 2px 8px gray;
}
.student-course-card{
    width: 300px;
    padding: 18px;
    margin: 10px;
    height: 80px;
    border-left: 8px solid slateblue;
    box-shadow: 2px 2px 8px gray;
}
.teacher-course-card{
    width: 300px;
    padding: 18px;
    margin: 10px;
    height: 230px;
    /* border-radius: 8px; */
    border-left: 8px solid slateblue;
    box-shadow: 2px 2px 8px gray;
}
.course-card h3{
    font-weight: 600;
}
.course-btn{
    margin-top: 10px;
    padding: 8px 12px;
    border-radius: 4px;
}

/*                  dashboard page             */

.dashboard-nav{
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    /* color: black; */
}

.dashboard-nav  .special-ul{
    display: flex;
    justify-content: space-around;
}

.dashboard-nav li{
    list-style: none;
    /* padding: 20px; */
    padding-left: 20px;
    padding-right: 20px;
    color: orangered;
    font-weight: 600;
    font-size: 20px;
}
.dashboard-nav li small{
    font-size: 13px;
}
.dashboard-nav  .name-ul{
    font-size: 10px;
}
.dashboard-body h1{
    padding-left: 90px;
    padding-bottom: 90px;
}
.drop-btn{
    color: #800020;
    /* background-color: #333; */
    font-weight: 700;
    box-shadow: 2px 2px 8px #800020;
    margin-bottom: 10px;
}
.course-title-owned{
    color: rgb(88, 88, 222);
}

.dashboard-nav a{
    text-decoration: none;
    color: orangered;
    font-weight: 600;
}
.dashboard-nav a:visited{
    text-decoration: none;
    color: orangered;
    font-weight: 600;
}

/*          edit profile page       */
.edit-form-container{
    display: flex;
    justify-content: space-around;
    padding: 100px;
    font-size: 20px;
    color: lightseagreen;
}
.edit-form-container .img-container{
    width: 40%;
}
.edit-form-container input{
    padding: 10px 20px 10px 8px;
    font-size: 20px;
    border-radius: 8px;
    margin-right: 8px;
    box-shadow: 2px 2px 8px lightcoral;
}
.edit-form label small{
    font-size: 10px;
    color: #800020;
}
.edit-form-container img{
    height: 200px;
    border-radius: 4px;
    width:428px;
}
.edit-btn{
    color: lightcoral;
    /* padding: 15px; */
}

/* index page */
.banner{
    background-image: url(images/normal-university-820888_1920.jpg);
}

.departments {
    padding-bottom: 100px;
    padding-left: 40px;
    padding-right: 40px;
    /* border-bottom: 2px solid gainsboro; */
}
.departments h1{
    text-align: center;
    padding: 50px 0px;
}

.page-card{
    border-right:8px solid #800020;
    border-left:0px;
}

.page-title{
    color: #800020;
}

.departments h1{
    color: #800020;
    font-size: 40px;
    font-weight: 600;
}
.carousel-container h1{
    color: lightseagreen;
    padding: 40px 0px;
    font-size: 40px;
    font-weight: 600;
    text-align: center;
}
.faculties h1{
    color: lightcoral;
}
.faculties h3{
    color: lightcoral;
    font-size: 25px;
}
.faculty-card{
    /* border-right:8px solid #800020; */
    border-left:8px solid lightcoral;
    border-top:8px solid lightcoral;
    height: 400px;
}
.faculty-title{
    color: lightcoral;
}
footer{
    text-align: center;
    height: 40px;
    padding-top: 20px;
    color: orangered;
    background-color: black;
}
.librac-label{
    padding-right: 20px;
}
.edit-form{
    display: flex;
    justify-content: space-around;
}

/* select */
#course {
    width: 300px; 
    padding: 10px; 
    border: 1px solid #ccc; 
    border-radius: 5px; 
    background-color: #fff; 
    font-size: 16px;
    color: #333;
    cursor: pointer; 
    padding-right: 40px;
}
#course:hover {
    border-color: #007bff; 
}

#course:focus {
    outline: none; 
    border-color: #0056b3; 
}

.teacher-assignment-card{
    height: 120px;
}
.teacher-assignment-card h2{
    color: #007bff;
    padding-bottom: 20px;
}
.advising-card{
    height: 270px;
}
.course-code{
    color: #007bff;
}
.course-name{
    color: #800020;
    padding-top: 5px;
    padding-bottom: 5px;
}
.course-teacher_name{
    /* color: bisque; */
    padding-top: 5px;
    padding-bottom: 5px;
}
.log-out-btn{
    cursor: pointer;
}
#error-message{
    font-size: 28px;
    /* text-align: center; */
    padding-left: 570px;
    color: white;
}